# **Prueba #2**
En la siguiente pureba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba en un repositorio de github antes de el domingo 18 de Febrero a las 23:59:59.

## **Ejercicio 1** (40%)

Construya un DataFrame a partir del siguiente diccionario

`exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}`

con las siguientes etiquetas para los índices

`labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`

1. Seleccione solo las columnas *name* y *score*.
  
2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.

3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)

4. Cambie el *score* en la fila 'd' a 11.5

5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

6. Borre la fila 'k' y entregue nuevamente el DataFrame original.

7. Ordene el DataFrame por nombre en orden ascendente.

8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],\
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19],\
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], \
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']\
             }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# 1. Seleccione solo las columnas *name* y *score*.
import pandas as pd
df = pd.DataFrame(exam_data, index = labels)
df

In [ ]:
# 2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.
df[df.attempts > 2]

In [ ]:
#3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)
df[(df.score >= 15) & (df.score <= 20)]

In [ ]:
# 4. Cambie el *score* en la fila 'd' a 11.5
df.loc['d',['score']] = 11.5
df

In [ ]:
# 5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna
new_row = {'name':'Guillermina',\
           'score': 13.2,\
           'attempts': 3,\
           'qualify':'yes'}
df.loc['k'] = new_row
df

In [ ]:
# 6. Borre la fila 'k' y entregue nuevamente el DataFrame original.
df = df.drop(index='k')
df

In [ ]:
#7. Ordene el DataFrame por nombre en orden ascendente.
df.sort_values(by='name', ascending = True)

In [ ]:
# 8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente
df.replace({'qualify': {'yes': True, 'no': False}}, inplace=True)
df

## **Ejercicio 2** (30%)

Importe el dataset `athletes` del repositorio del curso y realice las siguientes tareas:

1. Importarlo como nombre athletes
2. Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
3. Calcule la masa muscular por fila con una función como

$$I_{m.m.} = \frac{Weight}{Height^2}$$

4. Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?

5. ¿Cuál es el pais con más participación femenina?

In [ ]:
#1. Importarlo como nombre athletes
import pandas as pd

athletes = pd.read_csv("https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/athletes.csv")
athletes

In [ ]:
#2.Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
athletes = athletes[athletes.gold + athletes.silver + athletes.bronze >= 1].reset_index()
athletes

In [ ]:
#3.Calcule la masa muscular por fila con una función como: Im.m.=WeightHeight2
athletes.loc[:,"imc"] = athletes.weight / athletes.height**2
athletes

In [ ]:
#4.Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?
#Se agrupa por deporte y se obtiene la media del peso
max_weight = athletes.groupby("sport")["weight"].mean()

#Con la función idxmax() se obtiene el deporte con maximo de peso y con la función max() el valor máximmo
 print(f"El deporte con mayor peso promedio es {max_weight.idxmax()} con {max_weight.max()}")

In [ ]:
#5. ¿Cuál es el pais con más participación femenina?
#Se filtra primero las atletas femeninas y luego se agrupa por nacionalidad obteniendo el tamaño-size
athletes_fem = athletes[athletes["sex"] == "female"]
nationality = athletes_fem.groupby("nationality").size()

#Con la función idxmax() se obtiene el pais con maximo de peso y con la función max() el valor máximmo
print(f"El país con el mayor número de atletas femeninas es {nationality.idxmax()} con {nationality.max()} atletas.")

## **Ejercicio 3 (30%)**

Importe el dataset de nba del repositorio de clase y responda (hint: Elimine las instancias con registros faltantes):

1. Cuáles son los equipos que pagan los salarios más altos (presente el resultado como un dataFrame con el nombre del equipo y la cantidad de dinero de la nómina)
2. Separe la variable *Age* en tres grupos y cree una nueva columna llamada *Age-Group* con esta información.<
3. Construya una tabla dinámica que muestre el salario promedio de los jugadores por equipo y posición para para los cinco equipos que pagan mejores salarios.

R/: 3.1

In [ ]:
#importar libreria pandas
import pandas as pd

In [ ]:
#cargar desde github el dataser nba
df = pd.read_csv("https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/nba.csv")
df

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#eliminar columna unnamed: 0
df.drop(columns = ['Unnamed: 0'], inplace = True)
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Eliminar datos NaN
df.dropna(inplace = True)
df.reset_index()
df

,name,team,number,position,age,height,weight,college,salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [ ]:
#normalizar nombre columnas en minusculas
df.columns = df.columns.str.lower()
df.head()

,name,team,number,position,age,height,weight,college,salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [ ]:
#agrupar columna team y sumar los salarios de cada equipo en orden ascendente
nba_salary = df.groupby('team')['salary'].agg(['sum']).sort_values(by='sum',ascending=False)
nba_salary

                               sum
team
Los Angeles Clippers    93906914.0
Oklahoma City Thunder   81515298.0
Golden State Warriors   80535517.0
Cleveland Cavaliers     74068189.0
Chicago Bulls           73265800.0
New Orleans Pelicans    68200408.0
Detroit Pistons         67168263.0
Milwaukee Bucks         66794557.0
Miami Heat              65838121.0
Sacramento Kings        62786874.0
San Antonio Spurs       59491233.0
New York Knicks         57977202.0
Toronto Raptors         57377129.0
Dallas Mavericks        57140305.0
Memphis Grizzlies       56862880.0
Atlanta Hawks           56383300.0
Utah Jazz               52256491.0
Washington Wizards      52111245.0
Charlotte Hornets       51715614.0
Houston Rockets         48445456.0
Portland Trail Blazers  48301818.0
Indiana Pacers          48057601.0
Brooklyn Nets           47503125.0
Phoenix Suns            44945135.0
Boston Celtics          41541068.0
Los Angeles Lakers      39245338.0
Denver Nuggets          38167971.0
Orlando Magic           37887288.0
Philadelphia 76ers      30992894.0
Minnesota Timberwolves  21310196.0

R/: 3.2 Separe la variable *Age* en tres grupos y cree una nueva columna llamada *Age-Group* con esta información.

In [ ]:
#Crear nueva columna, con la descripcion segun la edad de cada jugador
df['Age-Group'] = pd.cut(df.age, bins = 3, labels=['joven','Adulto','Veterano'])
df.sample(15)

,name,team,number,position,age,height,weight,college,salary,Age-Group
166,Matthew Dellavedova,Cleveland Cavaliers,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0,joven
170,Richard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,6-7,233.0,Arizona,947276.0,Veterano
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,joven
113,Ryan Kelly,Los Angeles Lakers,4.0,PF,25.0,6-11,230.0,Duke,1724250.0,joven
142,Darren Collison,Sacramento Kings,7.0,PG,28.0,6-0,175.0,UCLA,5013559.0,Adulto
165,Tony Snell,Chicago Bulls,20.0,SF,24.0,6-7,200.0,New Mexico,1535880.0,joven
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6-3,200.0,Arizona,3000000.0,Adulto
126,John Jenkins,Phoenix Suns,23.0,SG,25.0,6-4,215.0,Vanderbilt,981348.0,joven
385,Will Barton,Denver Nuggets,5.0,SF,25.0,6-6,175.0,Memphis,3533333.0,joven
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,Adulto
144,Seth Curry,Sacramento Kings,30.0,SG,25.0,6-2,185.0,Duke,947276.0,joven
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,joven
191,Reggie Jackson,Detroit Pistons,1.0,PG,26.0,6-3,208.0,Boston College,13913044.0,joven
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0,joven
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,joven

R/: 3.3

In [ ]:
#seleccionar los 5 equipos que mas salario pagan y realizar el index para entregar una lista con los nombres de los equipos
top_teams = df.groupby('team')['salary'].agg(['sum']).nlargest(5, 'sum').index
top_teams

Index(['Los Angeles Clippers', 'Oklahoma City Thunder',
       'Golden State Warriors', 'Cleveland Cavaliers', 'Chicago Bulls'],
      dtype='object', name='team')

In [ ]:
#filtar le dataframe mostrando solo los equipos indexados(los 5 equipos que pagan mas salario)
df_top_teams = df[df['team'].isin(top_teams)]
df_top_teams

,name,team,number,position,age,height,weight,college,salary,Age-Group
77,Harrison Barnes,Golden State Warriors,40.0,SF,24.0,6-8,225.0,North Carolina,3873398.0,joven
78,Andrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.0,Adulto
79,Ian Clark,Golden State Warriors,21.0,SG,25.0,6-3,175.0,Belmont,947276.0,joven
80,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0,Adulto
81,Festus Ezeli,Golden State Warriors,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0,joven
...,...,...,...,...,...,...,...,...,...,...
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0,joven
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.0,joven
424,Kyle Singler,Oklahoma City Thunder,5.0,SF,28.0,6-8,228.0,Duke,4500000.0,Adulto
425,Dion Waiters,Oklahoma City Thunder,3.0,SG,24.0,6-4,220.0,Syracuse,5138430.0,joven
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0,Adulto

In [ ]:
#mostrar la tabla dinamica con los equipos que mas salario pagan, mostrando por posicion de jugador
dinamic_table = df_top_teams.pivot_table(index='team', columns='position', values='salary', aggfunc='mean')
dinamic_table

position,C,PF,PG,SF,SG
team,,,,,
Chicago Bulls,1.340000e+07,3.578740e+06,1.117153e+07,1.958160e+06,5.717549e+06
Cleveland Cavaliers,7.768435e+06,1.394101e+07,6.551592e+06,9.472760e+05,3.349079e+06
Golden State Warriors,6.541249e+06,1.426087e+07,1.137079e+07,3.766367e+06,8.224138e+06
Los Angeles Clippers,1.039480e+07,6.655482e+06,1.228975e+07,3.662924e+06,4.639893e+06
Oklahoma City Thunder,6.303143e+06,2.606520e+06,9.382869e+06,8.599621e+06,3.207058e+06